/cache/
/output/

# build artifacts
/go-librespot-armv6
/go-librespot-config.yml
/ui.zip
/voice-artifacts/

# auto-incrementing patch build-number
/.build-number

# asset generators
/internal/

# primary lyrics provider secrets
/lp.env
